<ion-header>
  <ion-toolbar>
    <ion-title>Challan Printing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form id="productForm" (submit)="addProduct($event)">
    <ion-item>
      <ion-label position="floating">Product Name</ion-label>
      <ion-input type="text" id="productName" list="productList" required></ion-input>
    </ion-item>
    <datalist id="productList"></datalist>

    <ion-item>
      <ion-label position="floating">Quantity</ion-label>
      <ion-input type="number" id="productQty" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Unit</ion-label>
      <ion-input type="text" id="productUnit" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Rate</ion-label>
      <ion-input type="number" id="productRate" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Add Product</ion-button>
  </form>

  <div id="challan" class="hidden" *ngIf="products.length > 0">
    <h3>Challan No.: {{ challanNo }}</h3>
    <table id="challanTable">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Unit</th>
          <th>Rate</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.qty }}</td>
          <td>{{ product.unit }}</td>
          <td>{{ product.rate }}</td>
          <td>{{ product.total }}</td>
        </tr>
      </tbody>
    </table>
    <ion-button expand="block" (click)="exportPdf()">Export as PDF</ion-button>
  </div>
</ion-content>
